function Main.main 2
push constant 6
call Game.init 1
pop local 0
push local 0
call Game.move 1
pop local 1
label WHILE_EXP0
push local 1
not
if-goto WHILE_END0
push constant 0
pop local 1
push local 0
call Game.move 1
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
