function Snake.init 2
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 0
pop local 0
push argument 0
pop this 1
push this 1
call Array.new 1
pop this 0
label WHILE_EXP0
push local 0
push this 1
lt
not
if-goto WHILE_END0
push local 0
push constant 10
call Math.multiply 2
pop local 1
push local 0
push this 0
add
push constant 100
push local 1
add
push constant 100
call Block.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push pointer 0
call Snake.DrawSnake 1
pop temp 0
push pointer 0
return
function Snake.MoveSnake 4
push argument 0
pop pointer 0
push this 1
push constant 1
sub
pop local 2
label WHILE_EXP0
push local 2
push constant 0
gt
not
if-goto WHILE_END0
push local 2
push constant 1
sub
push this 0
add
pop pointer 1
push that 0
pop local 3
push local 3
push constant 0
not
call Block.GetCoord 2
pop local 0
push local 3
push constant 0
call Block.GetCoord 2
pop local 1
push local 2
push this 0
add
pop pointer 1
push that 0
call Block.dispose 1
pop temp 0
push local 2
push this 0
add
push local 0
push local 1
call Block.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push constant 1
sub
pop local 2
goto WHILE_EXP0
label WHILE_END0
push constant 0
push this 0
add
pop pointer 1
push that 0
pop local 3
push local 3
push constant 0
not
call Block.GetCoord 2
pop local 0
push local 3
push constant 0
call Block.GetCoord 2
pop local 1
push argument 1
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 10
sub
pop local 0
label IF_FALSE0
push argument 1
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 1
push constant 10
sub
pop local 1
label IF_FALSE1
push argument 1
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
push constant 10
add
pop local 0
label IF_FALSE2
push argument 1
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 1
push constant 10
add
pop local 1
label IF_FALSE3
push local 3
push local 0
push local 1
call Block.ChangeCoords 3
pop temp 0
push constant 0
push this 0
add
push local 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push pointer 0
call Snake.DrawSnake 1
pop temp 0
push constant 0
return
function Snake.dispose 0
push argument 0
call Block.dispose 1
pop temp 0
push constant 0
return
function Snake.DrawSnake 1
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 1
lt
not
if-goto WHILE_END0
push local 0
push this 0
add
pop pointer 1
push that 0
call Block.Draw 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
