function Fruit.init 9
push constant 2
call Memory.alloc 1
pop pointer 0
call Game.GetBorders 0
pop local 2
push constant 0
pop local 0
push constant 0
pop local 1
push constant 0
not
pop local 7
call Snake.GetArray 0
pop local 3
label WHILE_EXP0
push local 7
not
if-goto WHILE_END0
push constant 0
pop local 7
push constant 0
push local 2
add
pop pointer 1
push that 0
push constant 4
add
push constant 2
push local 2
add
pop pointer 1
push that 0
push constant 4
sub
call Random.RandInt 2
pop local 0
push constant 1
push local 2
add
pop pointer 1
push that 0
push constant 4
add
push constant 3
push local 2
add
pop pointer 1
push that 0
push constant 4
sub
call Random.RandInt 2
pop local 1
label WHILE_EXP1
push local 6
push argument 0
lt
not
if-goto WHILE_END1
push local 6
push local 3
add
pop pointer 1
push that 0
pop local 8
push local 0
push local 8
push constant 0
not
call Block.getCoord 2
eq
push local 1
push local 8
push constant 0
call Block.getCoord 2
eq
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 7
label IF_FALSE0
push local 6
push constant 1
add
pop local 6
goto WHILE_EXP1
label WHILE_END1
goto WHILE_EXP0
label WHILE_END0
push local 0
push constant 4
add
push local 1
push constant 4
add
push constant 0
not
call Block.DrawFruit 3
pop temp 0
push local 0
pop this 0
push local 1
pop this 1
push pointer 0
return
function Fruit.getCoord 0
push argument 0
pop pointer 0
push argument 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
return
label IF_FALSE0
push this 1
return
function Fruit.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
